/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-image: url(./img/image-logo.jpeg);
  background-size: cover;        /* Preenche toda a área */
  background-position: center;   /* Centraliza a imagem */
  background-repeat: no-repeat; 
}

.calendario-container {
  width: 90%;
  max-width: 1000px;
  background: #8caeb3;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
}

#calendario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dias-semana, #dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

#dias-semana div {
  font-weight: bold;
  text-align: center;
}

#dias div {
  height: 100px;
  background: #eaeaea;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

#dias div:hover {
  background: #d0eaff;
}

#anotacoes {
  margin-top: 20px;
  width: 90%;
  max-width: 1000px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
}
