/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row; /* organiza em coluna */
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
  margin: 0;
  padding: 20px;
  height: 100vh; /* ocupa toda a altura da tela */
  background-image: url(./img/image-logo.jpeg);
  background-size: cover;       /* preenche toda a área */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
}


.calendario-container,
#anotacoes {
  width: 90%;
  max-width: 1000px;
  background: #215057;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  box-sizing: border-box;
  height: 800px;
  margin-right: 10px;
}

#calendario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dias-semana, #dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

#dias-semana div {
  font-weight: bold;
  text-align: center;
}

#dias div {
  height: 100px;
  background: #eaeaea;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

#dias div:hover {
  background: #d0eaff;
}

#dias div.hoje {
  background: #2f6f73;
  color: #fff;
  font-weight: bold;
}

#dias div.hoje:hover {
  background: #1343c7;
}

#anotacoes {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.head-anotacoes {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

#anotacoes button {
  width: 100px;
  height: 50px;
  margin-top: 0;
  flex-shrink: 0;
  font-size: 20px;
  border-radius: 5px;
  border: 1px;
}
#anotacoes button:hover {
  background-color: #2e66cf; /* cor ao passar o mouse */
  color: #fff; /* muda a cor do texto */
}

.linha-horario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 6px;
}

.linha-horario label {
  width: 50px;
  font-weight: bold;
}

.linha-horario textarea {
  flex: 1;
  min-height: 34px;
  padding: 10px;
  resize: vertical;
  border-radius: 6px;
  border: 2px solid #2f6f73;
}